.about>div{
  width:70%;
  border:2px solid var(--accent);
  border-radius:15px;
  padding:1rem 3rem;
  margin:100px 0;
}
.about1{
  border-radius:100%;
  background:var(--text);
}
.about1 svg{
  height:100px;
  width:100px;
  color:white;
}

.about p{
  font-size:1.5rem;
  text-align:center;
}

.about2{
  flex-wrap:wrap;
  gap:30px;
}

.about2>div{
  padding:1rem;
  background:var(--navbarbg);
  width:30%;
  min-width:200px;
  height:300px;
}

.about3{
gap:20px;
flex-wrap:wrap;
width:100%;
margin:20px 0;
}
.about3 span{
  color:var(--primary);
  font-weight:bold;
  font-size:2rem;
}
.about3>div{
  width:20%;
  min-width:200px;
  height:100px;
  padding:1rem;
  background:var(--text);
  color:var(--background);
  border-radius:15px;
  display:flex;
  align-items:center;
  gap:30px;
  font-size:1.5rem;
}

@media screen and (max-width: 747px) {
.about>div{
  width:90%;
}
}
