*{
  box-sizing:border-box;
}

:root{
  --text: #090f14;
  --background: #f1f6f9;
  --primary: #188ff1;
  --secondary: #8fbbdf;
  --accent: #61a3d9;
  --navbarbg:#8fbbdf20; 
--visionbg:#61a3d930;}
.flex{
  display:flex;
  align-items:center;
  justify-content:center;
}

.flex-sa{
  justify-content:space-around;
}

.flex-c{
  flex-direction:column;
}

@keyframes upndown{
  0%{
    transform:translateY(0);
  }
  50%{
    transform:translateY(800px);
  }
  100%{
    transform:translateY(0);
  }
}

@keyframes heroroaming{
  25%{
    transform:translateX(5px) translateY(5px);
  }
  50%{
    transform:translateX(-5px) translateY(5px);
  }
  75%{
    transform:translateX(-5px) translateY(-5px);
  }
  100%{
    transform:translateX(0) translateY(0);
  }
}

body{
  background:var(--background);
  color:var(--text);
  margin:0;
}

.navbar{
  height:90px;
  width:100%;
  background:var(--navbarbg);
  background-opacity:
}

.navbar img{
  height:200px;
}

.navbar a{
  text-decoration:none;
  color:var(--text);
  font-size:1.5rem;
}

.navbar a:hover{
  color:var(--accent);
  cursor:pointer;
}

body>h2{
  text-align:center;
  font-size:2.5rem;
  margin:3rem;
  letter-spacing:0.2rem;
}

.hero{
  height:700px;
}

.hero h1{
  background:linear-gradient(to left,var(--primary),var(--accent));
  font-weight:bold;
  font-size:5rem;
  color:transparent;
  -webkit-background-clip:text;
}

.heading{
  background:linear-gradient(to left,var(--primary),var(--accent));
  font-weight:bold;
  font-size:5rem;
  text-align:center;
  color:transparent;
  -webkit-background-clip:text;
}

.hero>div{
  width:40%;
  height:100%;
}

.hero h3{
  margin-bottom:0;
}

.hero button{
  height:2.5rem;
  background:var(--primary);
  padding:0 2rem;
  font-weight:bold;
  border-radius:15px;
}

.hero button:hover{
  background:var(--secondary);
  cursor:pointer;
}

.hero-2{
  flex-wrap:wrap;
  gap:10px;
}

.hero-2 img{
  width:40%;
  height:40%; 
  border:2px solid var(--secondary);
  border-radius:10px;
  animation:heroroaming;
  animation-duration:5s;
  animation-iteration-count:infinite;
}

.features{
  position:relative;
  width:100%;
  margin-top:200px;
}
.features>div{

  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 100px;
}
/* Problem in features-1 somehow i can't put it inside features and get width:3 */
.features-1{
  width:5px;
  height:800px;
  background:linear-gradient(var(--secondary),var(--accent));
  position:absolute;
  left:50vw;
  top:1100px;
}

.features-1 div{
  height:20px;
  width:100%;
  background:white;
  animation:upndown;
  animation-duration:4s;
  animation-iteration-count:infinite;
}

.features>div>img{
  height:200px;
}

.features>div>div{
  width:40%;
  padding:1rem;
  display:flex;
  justify-content:space-around;
  align-items:center;
  background:white;
  border-radius:15px;
}
.features>div>div img{
  height:50px;
  width:50px;
}
.features>div>div div{
  width:80%;
}
.features>div>div h3{
  margin:0;
}

.vision{
  width:80%;
  margin:auto;
}

.vision h3{
  text-align:center;
}

.vision>div{
  gap:30px;
}

.vision>div>div{
  background:white;
  padding:3rem;
  border-radius:15px;
  background:var(--visionbg);
  border:2px solid var(--secondary);
}

.faculties a,.members a{
  height:2.5rem;
  width:250px;
  background:var(--background);
  border:2px solid var(--primary);
  padding:0 2rem;
  font-size:2rem;
  margin:30px auto;
  display:block;
  font-weight:bold;
  text-decoration:none;
  border-radius:15px;
  color:var(--text);
}

.faculties a:hover,.members a:hover{
  background:var(--primary);
}

footer{
  background:var(--text);
  color:var(--background);
  height:300px;
  padding:1rem;
  margin-top:100px;
}

footer span{
  text-align:center;
  font-weight:light;
}

footer>div{
  align-items:flex-start !important;
  margin-bottom:100px;
}

footer>div>div{
  display:flex;
  flex-direction:column;
  width:25%;
}

footer a{
  color:var(--background);
  text-decoration:none;
}

.card{
  width:300px;
  height:400px;
  background:var(--visionbg);
  border:2px solid var(--accent);
  border-radius:15px;
  padding:1rem;
  transition:0.2s
}

.card img{
  width:80%;
  height:80%;
  border:2px solid var(--accent);
  border-radius:15px;
}

.card h2,.card p{
  text-align:center;
  margin:10px;
}

.card:hover{
  transform:translateY(-5px);
  border:2px solid var(--primary);
}


